---
import MainLayout from "@/layouts/MainLayout.astro";


---

<MainLayout title="Lubook" description="Main homepage of the Lubook website">
  <h1 class="text-3xl font-bold">Oops! There's nothing here yet! Check back later!</h1>
</MainLayout>
