---
import LoginForm from "@/components/login/LoginForm.vue";
import Logo from "@/components/Logo.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Login" description="Login to the manga sharing community to start reading, publishing and socializing.">
  <section class="flex h-full flex-col items-center gap-8 py-20">
    <Logo />
    <LoginForm client:load />
  </section>
</MainLayout>
