---
import "./base.css";

interface Props {
  title?: string;
  description?: string;
  center?: boolean;
}

const { title, description, center } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/icon.png" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-darker-navy font-nunito text-white lg:px-16 xl:px-32">
    <main class="h-fit min-h-screen w-full bg-dark-navy p-8 lg:p-16 xl:px-32" class:list={[{ "flex items-center justify-center": center }]}>
      <slot />
    </main>
  </body>
</html>
