---
import { Image } from "astro:assets";
---

<div class="flex flex-row items-center gap-4">
  <Image src={"/icon.png"} alt="An open book" width={71} height={64} />
  <h1 class="translate-y-1 font-josefin text-[2rem] font-semibold">Lubook</h1>
</div>
